{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'spectre.min.css' %}">
    <link rel="stylesheet" href="{% static 'spectre-icons.min.css' %}">
    <link rel="stylesheet" href="{% static 'spectre-exp.min.css' %}">
    <link rel="stylesheet" href="{% static 'midi/style.css' %}">
    <title>MidiHub - MIDI files for piano</title>
</head>
<body>
    <div class="container grid-lg logo">
        <div class="columns text-center">
            <h1 class="column col-12">MidiHub</h1>
        </div>
        <div class="columns flex-centered">
            <div class="input-group input-inline">
                <input class="form-input" type="text" placeholder="search">
                <button class="btn btn-primary input-group-btn">Search</button>
            </div>
        </div>
    </div>
</body>
</html>