{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>MidiHub</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
<div class="wrapper">
    <div class="intro">
        <div class="container">
            <h1 class="title is-1">A collection of <br> the best piano MIDI files</h1>
        </div>
    </div>
    <div class="container">
        <div class="tabs main-tabs is-medium">
            <ul>
                <li class="is-active"><a>Latest</a></li>
                {% comment %}
                <li><a>Popular</a></li>
                <li><a>Music</a></li>
                <li><a>Videos</a></li>
                <li><a>Documents</a></li>
                {% endcomment %}
            </ul>
        </div>

        <div class="columns">
            {% for card in midi %}
                <div class="column">
                    <div class="card">
                        <div class="card-image">
                            <figure class="image is-4by3">
                                <img src="{{ card.image.url }}" alt="Placeholder image">
                            </figure>
                        </div>
                        <div class="card-content">
                            <div class="media">
                                <div class="media-content">
                                    <p class="title is-4">{{ card.title }}</p>
                                </div>
                            </div>

                            <div class="content">
                                <a href="{{ card.file.url }}">Download</a>
                            </div>

                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
</body>
</html>