{% extends 'midi/base.html' %}

{% block content %}
  <div class="section">
    <div class="container">
      <h1 class="title">{{ midi.title }}</h1>
      <div class="columns">
        <div class="column is-three-fifths">
          <figure class="image is-4by3">
            <img src="{{ midi.image.url }}" alt="{{ midi.title }} image">
          </figure>
        </div>
        <div class="column">
          <a href="{{ midi.file.url }}" class="button">Download</a>
        </div>
      </div>
    </div>
  </div>
{% endblock %}