{% extends 'app/base.html' %}

{% block content %}
  {#  {% include 'midi/includes/hero.html' %}#}

  <div class="section">
    <div class="container">
      <div class="columns">
        <div class="column is-one-quarter">
          {% include 'app/includes/menu.html' %}
        </div>
        <div class="column">
          <h1 class="title">Popular MIDI</h1>
          <div class="columns is-multiline">
            {% for item in midi %}
              <div class="column is-4">
              <div class="card">
                <div class="card-image">
                  <figure class="image is-4by3">
                    <img src="{{ item.image.url }}" alt="{{ item.title }} image">
                  </figure>
                </div>
                <div class="card-content">
                  <p class="title is-4">{{ item.title }}</p>
                  <div class="content">
                    <p>{{ item.description }}</p>
                    <span class="tag is-success is-light">{{ item.get_difficulty_display }}</span>
                  </div>
                </div>
                <footer class="card-footer">
                  <a href="#" class="card-footer-item">Play</a>
                  <a href="{% url 'midi.view' item.pk %}" class="card-footer-item">Detail</a>
                </footer>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}